.features {
  background-color: $white-color;
}
.features__list {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -$gap;
  }
}

.features__item {
  @include breakpoint(mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include breakpoint(tablet) {
    flex-basis: calc((100% - $gap * 4) / 2);
    margin: $gap;
  }

  @include breakpoint(desktop) {
    flex-basis: calc((100% - $gap * 8) / 4);
  }
}

.features__thumb {
  @include flex-center;
  margin-bottom: 30px;
  min-height: 120px;
  border-radius: 4px;
  background-color: $bg-color;
}

.features__title {
  @extend %title;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;

  @include breakpoint(tablet) {
    text-align: start;
  }
}
