.footer {
  text-align: center;
  background: $bg-color-dark;
}

.footer__logo {
  margin-bottom: 20px;
  padding: 0;
  color: $white-color;
}

.address {
  margin-bottom: 60px;
  font-style: normal;
  color: $white-color;
}

.address__mail,
.address_phone-number {
  margin-top: 8px;
  margin-bottom: 0;
  display: block;
  color: $off-white-color;
  cursor: pointer;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: $bold;
  line-height: 1.14em;
  text-transform: uppercase;

  color: $white-color;
}

.footer__social-media {
  margin-bottom: 60px;
}

.footer__social-link {
  color: $white-color;
  background-color: $white-color-transparent;
}
