.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $bg-color-dark;
}

.footer__container {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @include breakpoint(desktop) {
    justify-content: space-between;
  }
}

.flex-wrapper {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;

  }
}

.address__link {
  color: $white-color;
}

.address__mail,
.address_tel {
  margin-top: 8px;
  margin-bottom: 0;
  display: block;
  color: $off-white-color;
  cursor: pointer;

  @include breakpoint(desktop) {
    margin-top: 9px;
  }
}

.footer__text {
  margin-bottom: 20px;
  font-weight: $bold;
  line-height: 1.14em;
  text-transform: uppercase;

  color: $white-color;
}

.footer__social-link {
  color: $white-color;
  background-color: $white-color-transparent;
}

.footer__subscribe {
  margin-top: 60px;
  @include breakpoint(desktop) {
    margin-top: 0;
  }
}
