.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;

    &--no-top-padding {
      padding-top: 0;
    }
  }
}

.section__title {
  @extend %title;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18em;

  @include breakpoint(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17em;
  }
}
