// Modal window buttons
// !fix: strange configuration
.close-btn {
  @include abs-position(8px, 8px, null, null);
  @include flex-center;
  width: 30px;
  height: 30px;
  color: $black-color;
  background-color: transparent;
  border: 1px solid $black-color-transparent;
  border-radius: 50%;
  transition: color $transition-function, box-shadow $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.close-btn__icon {
  fill: currentColor;
}

.modal__send-btn {
  @extend %btn;
  display: block;
  @include auto-centered;
  margin-top: 30px;
}

// Mobile-menu buttons
.mobile-menu__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include breakpoint(tablet) {
    display: none;
  }
}

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-menu__close-btn {
  @include abs-position(10px, 15px, null, null);
  @include flex-center;
  width: 40px;
  height: 40px;
  color: $secondary-text-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include breakpoint(tablet) {
    display: none;
  }
}

.mobile-menu__close-icon {
  width: 18px;
  height: 18px;
}

// Hero button
.hero__btn {
  @extend %btn;
}

// Subscribe buttton
.subscribe__btn {
  @include flex-center;
  @include auto-centered;
  @extend %btn;
}

.subscribe__icon {
  margin-left: 12px;
  fill: currentColor;
}
