// Modal window buttons
.btn-close {
  @include abs-position(8px, 8px, null, null);
  @include flex-center;
  width: 30px;
  height: 30px;
  color: $black-color;
  background-color: transparent;
  border: 1px solid $black-color-transparent;
  border-radius: 50%;
  transition: color $transition-function, box-shadow $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.btn-close__icon {
  fill: currentColor;
}

.btn-send {
  @extend %btn;
  display: block;
  @include auto-centered;
  margin-top: 30px;
}

// Menu button
.menu__toggle {
  padding: 0;
  border: none;
  color: $secondary-text-color;
  background-color: transparent;
  cursor: pointer;
  transition: color $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include breakpoint(tablet) {
    display: none;
  }
}

.menu__icon-menu {
  fill: currentColor;
}

.menu__icon-close {
  @include abs-position(10px, 15px, null, null);
  fill: currentColor;
}


// Hero button
.hero__btn {
  @extend %btn;
}

// Subscribe button
.subscribe__btn {
  @include flex-center;
  @include auto-centered;
  @extend %btn;
}

.subscribe__icon {
  margin-left: 12px;
  fill: currentColor;
}
