// Subscribe form
.subscribe__field {
  width: 100%;
  padding: 15px 16px;

  border: 1px solid $off-white-border-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  line-height: 1.25em;

  color: $white-color;
  background-color: transparent;
  transition: box-shadow $transition-function;
}

.subscribe__btn {
  margin-top: 20px;
}

// Modal form
// .form {
//   @include auto-centered;
// }

.form__label {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
}

.form__input-wrapper {
  position: relative;
  color: $secondary-text-color;
  transition: color $transition-function;

  &:hover .form__icon,
  &:focus .form__icon,
  &:active .form__icon {
    color: $accent-color;
    // outline: $accent-color;
  }
}
.form__input {
  display: block;
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid $black-light-color;
  border-radius: 4px;
}

.form__icon {
  @include abs-position(50%, null, null, 12px);
  transform: translatey(-50%);
  fill: currentColor;
}
