.logo {
  display: block;
  font-family: $font-logo;
  font-weight: $bold;
  font-size: 24px;
  line-height: 1.17em;

  &--accent {
    color: $accent-color;
  }

  @include breakpoint(desktop) {
    font-size: 26px;
    line-height: 1.19em;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: $secondary-text-color;

  @include breakpoint(tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include breakpoint(desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  padding: 0;
  color: $white-color;
}
