.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 2;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
  background-color: $overlay-color;
  transition: opacity $transition-function;
  overflow: auto;
}

.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  padding: 40px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  transform: translate(-50%, -45%);
  transition: transform $transition-function;

  @include breakpoint(tablet) {
    transform: translate(-50%, -30%);
  }

  @include breakpoint(desktop) {
    max-width: 528px;
    transform: translate(-50%, -25%);
  }
}

.modal__title {
  @extend %title;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5em;

  @include breakpoint(desktop) {
    line-height: 1.15em;
  }
}
