.social-media {
  @include flex-center;
}

.social-media__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-media__link {
  @include flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-color;
  transition: color $transition-function, background-color $transition-function;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}

.social-media__icon {
  fill: currentColor;
}
