body {
  font-family: $font-family-primary;
  font-weight: $normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;

  color: $primary-text-color;
  background-color: $white-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

// Responsive img properties
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Property to hide an element for users
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
