$font-family-primary: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
$normal: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$accent-color-darkened: #188ce8;
$white-color: #ffffff;
$off-white-color: rgba(255, 255, 255, 0.6);
$white-color-transparent: rgba(255, 255, 255, 0.1);
$bg-color: #f5f4fa;
$bg-color-dark: #2f303a;
$icon-color: #afb1b8;
$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
