$font-family-primary: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
$normal: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$off-white-color:rgba(255, 255, 255, 0.6);
$bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
